<!-- <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot> -->
 <!-- <app-plotly-example></app-plotly-example>  -->
 <h1>The content Property</h1>
 <p >The content property is used to insert generated content.</p>
 
 <p>Look at our:</p>
 <p>
 <a class='foo' href="https://www.w3schools.com/css/">CSS Tutorial</a><br>
 <a href="https://www.w3schools.com/cssref/">CSS Reference</a>
 </p>
 <app-scatter-chart></app-scatter-chart>
 <app-pie-chart></app-pie-chart>
 <app-boxplot></app-boxplot>
 <app-bar-chart></app-bar-chart> 
 <app-histogramchart></app-histogramchart>

