  <div class="form-check form-switch row">
    <i class="bi bi-moon-stars-fill"></i>
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"  (change)="switchTheme()" style="background-color: grey;" >
<i class="bi bi-sun-fill"></i>
  </div>


  <!-- <div class="row form-switch">
    <i class="bi bi-moon-stars-fill col"></i>
    <input class="form-check-input col" type="checkbox" role="switch" id="flexSwitchCheckChecked"  (change)="switchTheme()" style="background-color: grey;" >
    <i class="bi bi-sun-fill col"></i>
  </div> -->